<div style="position:relative">
	<header style="position:absolute;z-index:50000">
	    <div class="column column_left">
	    	<div class="logo black uppercase"><a href="home" id="btn_home">HEWN</a></div>
			<div class="dotted">
			    <nav class="content_dotted">
			        <a href="services" id="btn_services" class="bold uppercase">Services</a>
			        <a href="projects" id="btn_projects" class="bold uppercase">Projects</a><br/>
			        <a href="about" id="btn_about" class="bold uppercase">About</a>
			        <a href="store" id="btn_store" class="bold uppercase">Store</a>
			    </nav>
			    <div class="address">
			        <span>+1 512_386_6404</span>
			        <a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
			    </div>
			</div>
	    </div>
	    <div class="column column_center"></div>
	    <div class="column column_right">
	        
	        <div class="dotted">
	        	<div class="content_dotted">
					{{#each content}}
					{{this}}
					{{/each}}
				</div>
				<div class="map"><a target="_blank" href="https://www.google.com/maps/place/730+Shady+Ln,+Austin,+TX+78702/@30.2545928,-97.6970101,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b6801475f07f:0x13ee0fca4852dac6">730 Shady Lane Austin TX 78702</a></div>
	        </div>

	    </div>
	</header> 

	<div style="position:absolute;left:0;top:0;z-index:500;width:100%;"> 
		<div class="header_mobile" style="float:left">
			<div class="logo_mobile">HEWN</div>
			<div class="menu_mobile"></div>
		</div>
		<div class="title_mobile" style="float:left;position:relative;z-index:500">
			Mastercraft + <br>
			Joinery + Fabrication
		</div>
	</div>


	<div class="home_slides_container">
		<div class="gradient"></div>
		<div id="home_slides">
			{{#each front}}
		    <div class="home_slide" style="background-image:url({{this.home_front_image.url}});"></div>
		    {{/each}}
		</div>
		<div class="arrow left" style="z-index:0"></div>
		<div class="arrow right" style="z-index:0"></div>
	</div>
</div>

<section class="section front_sub">
	<div class="front_links work" style="background-image:url({{work.url}})">
		<div class="front_link">
			<a href="projects" id="link_projects" class="bold uppercase">
				View<br>
				Our<br>
				Work
			</a>
		</div>
		<div class="green"></div>
		
	</div>
	<div class="front_links services" style="background-image:url({{services.url}})">
		<div id="services_slider">
				{{#each slider}}
				<div class="services_slide" style="background-image:url({{this.home_slider_image.url}});"></div>
				{{/each}}
			</div>
		<div class="front_link">
			<a href="services" id="link_services" class="bold uppercase">
				Read<br>
				Our<br>
				Services
			</a>
		</div>
		<div class="green"></div>
		
	</div>
	<div class="front_links about" style="background-image:url({{about.url}})">
		<div class="front_link">
			<a href="about" id="link_about" class="bold uppercase"> 
				Learn<br>
				About Us
			</a>
		</div>
		<div class="green"></div>
		
	</div>
	<div class="front_links shop" style="background-image:url({{shop.url}})">
		<div class="front_link">
			<a href="store" id="link_shop" class="bold uppercase">
				Shop<br>
				Our<br>
				Products
			</a>
			<a id="store_legend" style="display:none"></a>
		</div>
		<div class="green"></div>
		
	</div>
</section>
 
<section class="section footer_section" style="background-color:#3a3a3c">
	<footer class="footer_mobile"> 
		<div class="column column_right">
	        <div class="dotted">
	        	<a  href="https://www.google.com/maps/place/730+Shady+Ln,+Austin,+TX+78702/@30.2545928,-97.6970101,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b6801475f07f:0x13ee0fca4852dac6">
	        	<div class="content_dotted" style="text-decoration:underline">
					730_Shady Lane<br/>
						Austin_TX_78702
				</div>
				</a>
	        </div>
	    </div>
	    <div class="column column_right">
	        <div class="dotted">
	        	<div class="content_dotted">
					<a href="tel:1-512-386-6404"><span style="text-decoration:underline">+1 512_386_6404</span></a>
	            	<a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
				</div>
	        </div>
	    </div>
	    <div class="column column_right">
	        <div class="dotted">
	        	<div class="content_dotted">
					Follow us on <a href="#">Twitter</a> <br/>
					Like us on <a href="#">Facebook</a>  
				</div>
	        </div>
	    </div>
	</footer>

	<footer>
	    <div class="footer_container">
	    	<div class="column column_left">
	       		<div class="logo black uppercase"><a href="#"><span class="medium">&copy;2015</span> HEWN</a></div>
		        <div class="dotted">
		            <div class="content_dotted">
						730_Shady Lane<br/>
						Austin_TX_78702
					</div>
		        </div>
		    </div>
		    <div class="column column_center"></div>
		    <div class="column column_right">
		        
		        <div class="dotted">
		        	<div class="content_dotted">
						<span>+1 512_386_6404</span>
	            		<a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
					</div>
		        </div>
		    </div>
		    <div class="column column_center"></div>
		    <div class="column column_right">
		        
		        <div class="dotted">
		        	<div class="content_dotted">
						Follow us on <a href="#">Twitter</a> <br/>
						Like us on <a href="#">Facebook</a>  
					</div>
		        </div>
		    </div>
		</div>
	</footer>  
</section>

<!--

<div id="main">
	

	<section class="section front"> 
		
		<div class="main_image"></div>
	</section> 
	
	
	
</div>

-->